



  img{
    position:relative;
    left:36%;
    top:100%;
    margin:10px 0 0 -74px;
}


   
<img src="images/首页老照片修复.jpg"width="270" height="480">
<img src="images/首页飞机.jpg" width="270" height="480">
<img src="images/首页地震预警.jpg" width="270" height="480">

</body>
</html>